a:hover, a:visited, a:link, a:active {
  text-decoration:none;
}

.masonry{
  align: center
}

#wall-masoned {
  text-align: center;
}

.item {
  width:  32%;
  height: 250px;
  float: left;
}
.item.w2 { width:  50% }
.item.h2 { height: 350px }
.item.h3 { height: 400px }
.item.h4 { height: 500px }

html *{
  font-family: "Andale Mono", monospace;
  color:rgb(50,50,50);
}

/* Sidebar */
#sidebar{
  width:22%;
  background:black;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  text-align: center;
}

#sidebar_image{
  margin-top:10%;
  margin-bottom:10%;
}

#sidebar_name{
  text-align:center;
  color:white;
  font-size:2vw;
  padding:2%;
}

#sidebar_quote{
  font-style:Italic;
  padding:15%;
  color:rgb(80,82,83);
}

.sidebar_text{
  color:white;
  text-align:center;
}

/* For social media icons. */
#sidebar_footer{
  position:absolute;
  bottom:40px;
  height:100px;
  width:100%;
}

#copyright{
  font-size:0.8vw;
  color:rgb(80,82,83);
}

/* Mainpage styling */
.container-main{
  background-color:black;
  height:100%;
  width:100%;
  margin: 1%;
  position:fixed;
}

.content{
  margin:1%;
}

.mainpage{
  margin-left:22%;
  height:100%;
}

.mainpage_text{
  margin:1%;
}

#raster-img {
  margin-top: 5%;
  margin-bottom: auto;
}

/* Portfolio, Projects, Inspirations */
.mainpage_tabs{
  margin:2%;
  padding-bottom: 5%;
  font-size:2vw;
  color:white;
}

#mainpage_footer{
  position:fixed;
  bottom:2%;
  height:50px;
  width:100%;
  text-align:center;
  font-size:2vw;
}

.category_name{
  font-size:1.8vw;
  padding:2%;
  text-align:right;
  border-bottom:3px dotted;
  margin-bottom: 3%;
}

.descrip {
  padding: 1%;
}

.media-row{
  padding:2%;
  text-align:center;
}

.media{
  padding-bottom: 3%
}

.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.shadow{
  -webkit-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
  -moz-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
  box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
}

.caption{
  font-size:small;
  text-align:center;
  padding:1.8%;
}

.paperscript .canvas{
  line-height:0;
}

.paperscript{
  position: relative;
}

.invisible{
  display:none;
}

/* About page */
.haikus {
  position: relative;
  margin-top:10%;
  text-align: center;
}

dgreen {
  background-color:#00703C;
}
ksrgreen { background-color: #2BDE73; }
dali { background-color: #FF9F40; }
hackny { background-color: #EC3F34; }
